<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
<meta property="og:site_name" content="{{ site.tile }}">
<meta property="article:publisher" content="{{ site..facebook.publisher }}" />
<meta property="article:author" content="{%if page.author %}{{ page.author }}{% else %}{{ site.author}}{% endif %}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
